@font-face {
    font-family: 'Proxima_Nova_Regular';
    src: url(../fonts/Proxima_Nova_Regular.otf);
}
@font-face {
    font-family: 'Proxima_Nova_Light';
    src: url(../fonts/Proxima_Nova_Light.otf);
}
@font-face {
    font-family: 'Proxima_Nova_Semibold';
    src: url(../fonts/Proxima_Nova_Semibold.otf);
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-color: #FF1D61;
    box-shadow: 0 1px 0 0 #FF1D61;
}

input:not([type]):focus:not([readonly])+label, input[type=text]:not(.browser-default):focus:not([readonly])+label, input[type=password]:not(.browser-default):focus:not([readonly])+label, input[type=email]:not(.browser-default):focus:not([readonly])+label, input[type=url]:not(.browser-default):focus:not([readonly])+label, input[type=time]:not(.browser-default):focus:not([readonly])+label, input[type=date]:not(.browser-default):focus:not([readonly])+label, input[type=datetime]:not(.browser-default):focus:not([readonly])+label, input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label, input[type=tel]:not(.browser-default):focus:not([readonly])+label, input[type=number]:not(.browser-default):focus:not([readonly])+label, input[type=search]:not(.browser-default):focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label {
    color: #FF1D61;
}

#toast-container .toast {
    background-color: #2f2f2f;
    color: #fff;
    font-size: 14px;
    font-family: 'Proxima_Nova_Regular';
    padding: 0 15px;
}

body {
    margin: 0;
    position: relative;
    background-color: #F4F6F6;
    padding-top: 100px;
    padding-left: 200px;
}

.modal {
    padding: 0;

    .modal-footer {
        display: none;
    }
    .modal-content {
        padding: 0;

        &>h4 {
            display: none;
        }
    }
}

.sign_modal {
    max-width: 470px;
    .modal__header {
        display: flex;
        flex-direction: row;

        &>div {
            height: 76px;
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            &:hover span {
                color: #FF1D61;
            }

            &.active {
                border-bottom: 2px solid #FF1D61;

                &:hover span {
                    color: inherit;
                }
            }
            &:last-child>div {
                border-left: 1px solid #c4c4c4;
            }

            &>div {
                height: 43px;
                font-family: 'Proxima_Nova_Light';
                font-size: 16px;
                color: #2f2f2f;
                text-align: center;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;           
            }

            
        }
    }

    .modal__content {
        padding: 50px 70px;
        display: flex;
        flex-direction: column;

        p {
            font-size: 24px;
            color: #2f2f2f;
            font-family: 'Proxima_Nova_Light';
            margin-top: 0;
            margin-bottom: 18px;
            text-align: center;

            & span {
                color: #FF1D61;
                text-decoration: underline;

            }
        }

        .input-field {
            margin-top: 0;
            margin-bottom: 35px;
            width: 100%;
        }

        .actions {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        
    }
}

button {
    padding: 13px 33px;
    border-radius: 5px;
    font-size: 14px;
    font-family: 'Proxima_Nova_Regular';
    cursor: pointer;
    transition: background-color .3s;
}

button.bck_btn {
    background-color: #FF1D61;
    color: white;
    border: 0;
    &:hover {
        background-color: #FF004D;
    }
}

button.border_btn {
    padding: 13px 33px;
    border: 2px solid #FF1D61;
    background-color: rgba(0,0,0,0);
    color: #FF1D61;
    cursor: pointer;

    &:hover {
        background-color: #fff;
    }
}

button.clear_btn {
    color: #2f2f2f;
    font-family: 'Proxima_Nova_Light';
    font-size: 13px;
    text-decoration: underline;
    cursor: pointer;
    background-color: rgba(0,0,0,0);
    border: 0;
}

header {
    background-color: #fff;
    height: 100px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: inherit;
    padding: 0;
    z-index: 100;

    .logo {
        width: 200px;
        background: url(../img/logo.svg) 50px 35px no-repeat;
        height: 100%;
    }

    .search {
        padding: 28px;
        position: relative;
        width: 460px;

        input[type="text"] {
            height: 43px;
            width: calc(100% - 50px);
            border: 1px solid #c4c4c4;
            border-radius: 20px;
            outline: none;
            padding-left: 50px;
            max-width: 400px;
        }
        input[type=text]:not(.browser-default):focus:not([readonly]) {
            border-color: #FF1D61;
            box-shadow: none;
        }
        input[type=text]:not(.browser-default):focus+.material-icons {
            color: #FF1D61;
        }
        i {
            position: absolute;
            color: #c4c4c4;
            top: 38px;
            left: 40px;
            transition: color .3s;
        }
    }

    .self_controls {
        display: flex;
        flex-direction: row;
        margin-left: auto;

        &>div {
            padding: 35px 0;
            margin-left: 8px;
            margin-right: 30px;
            font-family: 'Proxima_Nova_Light';
            font-size: 18px;
            color: #2f2f2f;

            span {
                cursor: pointer;

                &:hover {
                    color: #FF1D61;
                }
            }
        }
        i {
            color: #FF1D61;
            cursor: pointer;
            font-size: 30px;

            &:hover {
                color: #FF004D;
            }
        }
    }

    .links {
        display: flex;
        flex-direction: row;
        height: 100%;
        margin-left: 30px;

        &__item {
            text-align: center;
            width: 150px;
            line-height: 92px;
            color: #2f2f2f;
            cursor: pointer;
            font-size: 18px;
            font-family: 'Proxima_Nova_Light';
            transition: color .3s;
        }
        &__item:hover {
            color: #FF1D61;
            font-family: 'Proxima_Nova_Semibold';
        }
        &__item.active:not(&__item:hover) {
            font-family: 'Proxima_Nova_Semibold';
            border-bottom: 8px solid #FF1D61;
            color: #2f2f2f;
        }
    }
}

.dynamic_side_nav {
    width: 200px;
    position: fixed;
    left: 0;
    top: 100px;
    bottom: 0;
    background-color: #fff;
    box-shadow: 5px 0px 40px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    z-index: 1;
    padding: 17px;

    .collapsible {
        box-shadow: none;
        border: none;

        .collapsible-body {
            padding: 0;
            border: 0;
        }

        .collapsible-header {
            font-size: 14px;
            font-family: 'Proxima_Nova_Semibold';
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: color .3s;
            color: #c4c4c4;
            padding: 38px 0;
            text-align: center;
            border-bottom-color: #c4c4c4;

            i {
                margin-right: 0;
                margin-bottom: 7px;
            }

            &:hover, &.active {
                color: #FF1D61;
            }
            &.active{
                border: 0;
            }
            &.active+.collapsible-body {
                border-bottom: 1px solid #c4c4c4;
            }
        }
        .dynamic_side_nav__sub_item>div {
            border: 0!important;
        }
    }

    &__item {
        box-shadow: none;
        border: none;
    }

    &__avatar {
        width: 57px;
        height: 57px;
        background: linear-gradient(to bottom, #FF8A00, #FF1D61);
        border-radius: 50%;
        padding: 3px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 15px;

        &::after {
            content: "";
            background: url(../img/default_avatar.png) 0 0 no-repeat;
            background-size: contain;
            width: 51px;
            height: 51px;
            border-radius: 50%;
            display: block;
        }
    }
}

.modal.update_project_modal {
    width: 980px;
    padding: 32px 70px 25px 70px;

    .border_btn {
        margin: 0 auto;
    }

    p {
        color: #2f2f2f;
        font-family: 'Proxima_Nova_Regular';
        font-size: 24px;
        width: 100%;
    }

    .main_fields {
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;

        .title_and_tags {
            display: flex;
            flex-direction: column;
            width: 80%;
            padding-right: 30px;

            .tags {
                display: flex;
                flex-direction: row;

                span {
                    height: 25px;
                    background-color: #c4c4c4;
                    color: #fff;
                    text-transform: uppercase;
                    font-size: 12px;
                    font-family: 'Proxima_Nova_Light';
                    margin-right: 15px;
                    line-height: 25px;
                    padding: 0 8px;
                    cursor: pointer;

                    &.active {
                        background-color: #FF8A00;
                    }
                }
            }
        }

        .file {
            position: relative;
            width: 20%;

            span {
                background-color: #c4c4c4;
                color: #2f2f2f;
                font-size: 14px;
                font-family: 'Proxima_Nova_Light';
                border-radius: 5px;
                text-align: center;    
                display: flex;
                height: 100%;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                span, i {
                    height: 25px;
                }
            }

            input {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                cursor: pointer;
            }
        }
    }

    .resources, .volunteers {
        display: flex;
        flex-direction: column;

        &__item {
            display: flex;
            flex-direction: row;
            border-bottom: 1px solid #efefef;
            font-size: 16px;
            color: #2f2f2f;
            padding: 20px 0;

            span {
                width: 20%;

                &:first-child {
                    width: 40%;
                    padding-left: 25px;
                }

                i {
                    float: right;
                    padding-right: 30px;
                    cursor: pointer;
                }
            }
            
        }

        &__form {
            display: flex;
            flex-direction: row;
            margin-top: 15px;

            div {
                width: 20%;
                margin-left: 15px;

                &:first-child {
                    width: 40%;
                    margin-left: 0;
                }

                &.adding_btn {
                    display: flex;
                    flex-direction: row;
                    height: 45px;
                    border: 1px solid #2f2f2f;
                    border-radius: 5px;
                    width: 100%;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    transition: color .3s, border-color .3s;
                    
                    span {
                        margin-right: 10px;
                    }

                    &:hover {
                        color: #FF1D61;
                        border-color: #FF1D61;
                    }
                }
            }
        }
    }
}

.my_container {
    padding: 60px;

    .tabs {
        background-color: rgba(0,0,0,0);

        .tab {
            text-transform: inherit;
            border-bottom: 1px solid #e5e5e5;
        }

        .indicator {
            background-color: #FF1D61;
        }
    }

    .tabs-content.carousel.carousel-slider {
        height: 1000px;
    }
    
    .tabs .tab a:focus, .tabs .tab a:focus.active, .tabs .tab a:hover, .tabs .tab a.active {
        background-color: rgba(0,0,0,0);
        color: #FF1D61;
        font-family: 'Proxima_Nova_Semibold';
    }

    .tabs .tab a {
        color: #2f2f2f;
        font-family: 'Proxima_Nova_Light';
        font-size: 22px;
    }

    .tabs-content>div {
        padding-top: 25px;
    }

    .project_card {
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding: 0;
        position: relative;

        .avatar {
            position: absolute;
            top:146px;
            right: 36px;
            width: 57px;
            height: 57px;
            border-radius: 50%;
            background: url(../img/default_avatar.png) 0 0 no-repeat;
            z-index: 100;
            background-size: contain;
        }

        &__bck {
            position: relative;
            height: 190px;
            width: 100%;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
            background: url(../img/default_bckg_card.png) 0 0 no-repeat;
            background-size: cover;
            background-color: #e5e5e5;
            cursor: pointer;

            .tags {
                position: absolute;
                top: 25px;
                left: 25px;
                height: 25px;
                display: flex;
                flex-direction: row;

                span {
                    height: 25px;
                    color: #fff;
                    text-transform: uppercase;
                    font-size: 12px;
                    font-family: 'Proxima_Nova_Light';
                    line-height: 25px;
                    padding: 0 8px;
                    background-color: #FF8A00;
                    margin-right: 10px;
                }
            }
            
        }

        &__content {
            padding: 27px 42px;
            background-color: #fff;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;

            &>p.title {
                color: #2f2f2f;
                font-family: 'Proxima_Nova_Light';
                font-size: 22px;
                line-height: 27px;
                margin-bottom: 20px;
                cursor: pointer;
            }
            &>p.description {
                color: #494949;
                font-family: 'Proxima_Nova_Light';
                font-size: 16px;
                line-height: 26px;
                margin-bottom: 44px;
                overflow: hidden;
                text-overflow: ellipsis;
                height: 80px;
                cursor: pointer;
            }

            .footer {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                span {
                    color: #c4c4c4;
                    font-size: 16px;
                    font-family: 'Proxima_Nova_Light';
                    cursor: pointer;

                    i {
                        margin-left: 20px;
                    }
                }
            }
        }

        &__progress_bar {
            background-color: #ececec;
            height: 12px;
            width: 100%;
            border-radius: 10px;
            position: relative;

            .fill {
                background-color: #53C949;
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                width: 100px;
                border-radius: 10px;
            }
        }
    }

    .crumbs {
        width: 500px;
        padding-bottom: 20px;
        border-bottom: 1px solid #e5e5e5;

        a {
            font-size: 22px;
            font-family: 'Proxima_Nova_Light';
            color: #FF1D61;
            line-height: 27px;
        }
    }

    .proj_card_page {
        margin-top: 20px;
        width: 100%;
        background-color: #fff;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        padding: 50px 60px;

        .title {
            font-family: 'Proxima_Nova_Light';
            font-size: 24px;
            line-height: 29px;
            color: #2F2F2F;
        }

        &__header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 30px;
            

            .tags {
                height: 25px;
                display: flex;
                flex-direction: row;
    
                span {
                    height: 25px;
                    color: #fff;
                    text-transform: uppercase;
                    font-size: 12px;
                    font-family: 'Proxima_Nova_Light';
                    line-height: 25px;
                    padding: 0 8px;
                    background-color: #FF8A00;
                    margin-right: 10px;
                }
            }

            .actions {
                //margin-left: auto;
                display: flex;
                flex-direction: row;

                .likes {
                    font-family: 'Proxima_Nova_Light';
                    font-size: 18px;
                    line-height: 22px;
                    color: #989898;
                    

                    &::before {
                        content: "";
                        display: inline-block;
                        width: 0px;
                        height: 0px;
                        border-left: 8px solid transparent;
                        border-right: 8px solid transparent;
                        border-top: 10px solid #FF1D61;
                        margin-right: 8px;
                        cursor: pointer;
                    }
                    &::after {
                        content: "";
                        margin-left: 8px;
                        display: inline-block;
                        width: 0px;
                        height: 0px;
                        border-left: 8px solid transparent;
                        border-right: 8px solid transparent;
                        border-bottom: 10px solid #53C949;
                        cursor: pointer;
                    }
                    
                }

                .other {
                    margin-left: 50px;
                    color: #989898;
                    font-size: 18px;

                    i {
                        margin-left: 15px;
                        cursor: pointer;
                    }
                }
            }

            .maintainer {
                font-family: 'Proxima_Nova_Light';
                font-size: 18px;
                line-height: 22px;
                color: #2F2F2F;
                display: flex;
                flex-direction: row;
                align-items: center;

                &::after {
                    content: "";
                    background: url(../img/default_maintainer.png) 0 0 no-repeat;
                    background-size: contain;
                    width: 57px;
                    height: 57px;
                    border-radius: 50%;
                    margin-left: 25px;
                }
            }
        }

        &__content {
            display: flex;
            flex-direction: row;

            &>div {
                width: 50%;
                padding-right: 75px;
            }

            .main {
                &__img {
                    width: 100%;
                    background: url(../img/default_img_proj.png) 0 0 no-repeat;
                    background-size: contain;
                    height: 400px;
                }

                &__description {
                    font-family: 'Proxima_Nova_Light';
                    font-size: 16px;
                    line-height: 26px;
                    color: #2F2F2F;
                }
            }

            .detailed {
                &__resources {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;

                    &__progress_bar {
                        width: 80%;
                        background-color: #ECECEC;
                        border-radius: 10px;
                        height: 12px;

                        .fill {
                            background-color: #53C949;
                            border-radius: 10px;
                            height: 12px;
                        }
                    }

                    p {
                        font-size: 22px;
                        line-height: 27px;
                        font-family: 'Proxima_Nova_Light';
                        color: #2F2F2F;
                    }
                }
            }
        }
    }
}