.teacher_page .my_dropdown li a {
  color: #5c6bc0;
}

.teacher_page [type="checkbox"].filled-in:checked+span:not(.lever):after {
  border-color: #5c6bc0;
  background-color: #5c6bc0;
}
.teacher_page input[type=text]:not(.browser-default):focus:not([readonly])+label,
.teacher_page input[type=number]:not(.browser-default):focus:not([readonly])+label
.teacher_page textarea:not(.browser-default):focus:not([readonly])+label {
  color: #5c6bc0;
}
.teacher_page input[type=text]:not(.browser-default):focus:not([readonly]),
.teacher_page input[type=password]:not(.browser-default):focus:not([readonly]),
.teacher_page input[type=number]:not(.browser-default):focus:not([readonly]),
.teacher_page textarea:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid #5c6bc0;
  box-shadow: 0 1px 0 0 #5c6bc0;
}
.teacher_page .dropdown-content li>a,
.teacher_page .dropdown-content li>span {
  color: #5c6bc0;
}
.teacher_page .input-field .prefix.active {
  color: #5c6bc0;
}
.teacher_page .tabs .tab a:hover,
.teacher_page .tabs .tab a.active {
  color: #5c6bc0;
}
.teacher_page .tabs .tab a {
  color: rgba(97, 107, 192, .7)
}
.teacher_page .tabs .indicator {
  background-color: #5c6bc0;
}

#toast-container {
  top: auto;
  bottom: 30px;
  right: 50px;
}


#toast-container .toast {
  padding: 0;
  background-color: rgba(0,0,0,0);
}
#toast-container .toast div {
  width: 100%;
  height: 100%;
  padding: 15px;
  border-radius: 3px;
}
#toast-container .toast .success {
  background-color: #388e3c;
}
#toast-container .toast .error {
  background-color: #ef5350;
}
#toast-container .toast .warning {
  background-color: #ffa000;
}

.teacher_page input:not([type]):focus:not([readonly]):not(.invalid)+label,
.teacher_page input[type=text]:not(.browser-default):focus:not([readonly])+label,
.teacher_page input[type=password]:not(.browser-default):focus:not([readonly])+label,
.teacher_page input[type=email]:not(.browser-default):focus:not([readonly])+label,
.teacher_page input[type=url]:not(.browser-default):focus:not([readonly])+label,
.teacher_page input[type=time]:not(.browser-default):focus:not([readonly])+label,
.teacher_page input[type=date]:not(.browser-default):focus:not([readonly])+label,
.teacher_page input[type=datetime]:not(.browser-default):focus:not([readonly])+label,
.teacher_page input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label,
.teacher_page input[type=tel]:not(.browser-default):focus:not([readonly])+label,
.teacher_page input[type=number]:not(.browser-default):focus:not([readonly])+label,
.teacher_page input[type=search]:not(.browser-default):focus:not([readonly])+label,
.teacher_page textarea.materialize-textarea:focus:not([readonly])+label {
  color: #5c6bc0;
}
.student_page .my_dropdown li a {
  color: #26a69a;
}
.student_page [type="checkbox"].filled-in:checked+label:after {
  border-color: #26a69a;
  background-color: #26a69a;
}
.student_page input[type=text]:not(.browser-default):focus:not([readonly])+label,
.student_page input[type=number]:not(.browser-default):focus:not([readonly])+label
.student_page textarea:not(.browser-default):focus:not([readonly])+label {
  color: #26a69a;
}
.student_page input[type=text]:not(.browser-default):focus:not([readonly]),
.student_page input[type=password]:not(.browser-default):focus:not([readonly]),
.student_page input[type=number]:not(.browser-default):focus:not([readonly]),
.student_page textarea:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid #26a69a;
  box-shadow: 0 1px 0 0 #26a69a;
}
.student_page .dropdown-content li>a,
.student_page .dropdown-content li>span {
  color: #26a69a;
}
.student_page .input-field .prefix.active {
  color: #26a69a;
}
.student_page .tabs .tab a:hover,
.student_page .tabs .tab a.active {
  color: #26a69a;
}
.student_page .tabs .tab a {
  color: rgba(38, 166, 154, .7)
}
.student_page .tabs .indicator {
  background-color: #26a69a;
}
.student_page input:not([type]):focus:not([readonly])+label,
.student_page input[type=text]:not(.browser-default):focus:not([readonly])+label,
.student_page input[type=password]:not(.browser-default):focus:not([readonly])+label,
.student_page input[type=email]:not(.browser-default):focus:not([readonly])+label,
.student_page input[type=url]:not(.browser-default):focus:not([readonly])+label,
.student_page input[type=time]:not(.browser-default):focus:not([readonly])+label,
.student_page input[type=date]:not(.browser-default):focus:not([readonly])+label,
.student_page input[type=datetime]:not(.browser-default):focus:not([readonly])+label,
.student_page input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label,
.student_page input[type=tel]:not(.browser-default):focus:not([readonly])+label,
.student_page input[type=number]:not(.browser-default):focus:not([readonly])+label,
.student_page input[type=search]:not(.browser-default):focus:not([readonly])+label,
.student_page textarea.materialize-textarea:focus:not([readonly])+label {
  color: #26a69a;
}

input:not([type]):focus.invalid ~ label, input[type=text]:not(.browser-default):focus.invalid ~ label, input[type=password]:not(.browser-default):focus.invalid ~ label, input[type=email]:not(.browser-default):focus.invalid ~ label, input[type=url]:not(.browser-default):focus.invalid ~ label, input[type=time]:not(.browser-default):focus.invalid ~ label, input[type=date]:not(.browser-default):focus.invalid ~ label, input[type=datetime]:not(.browser-default):focus.invalid ~ label, input[type=datetime-local]:not(.browser-default):focus.invalid ~ label, input[type=tel]:not(.browser-default):focus.invalid ~ label, input[type=number]:not(.browser-default):focus.invalid ~ label, input[type=search]:not(.browser-default):focus.invalid ~ label, textarea.materialize-textarea:focus.invalid ~ label {
  color: #F44336 !important;
}
input.invalid:not([type]), input.invalid:not([type]):focus, input[type=text].invalid:not(.browser-default), input[type=text].invalid:not(.browser-default):focus, input[type=password].invalid:not(.browser-default), input[type=password].invalid:not(.browser-default):focus, input[type=email].invalid:not(.browser-default), input[type=email].invalid:not(.browser-default):focus, input[type=url].invalid:not(.browser-default), input[type=url].invalid:not(.browser-default):focus, input[type=time].invalid:not(.browser-default), input[type=time].invalid:not(.browser-default):focus, input[type=date].invalid:not(.browser-default), input[type=date].invalid:not(.browser-default):focus, input[type=datetime].invalid:not(.browser-default), input[type=datetime].invalid:not(.browser-default):focus, input[type=datetime-local].invalid:not(.browser-default), input[type=datetime-local].invalid:not(.browser-default):focus, input[type=tel].invalid:not(.browser-default), input[type=tel].invalid:not(.browser-default):focus, input[type=number].invalid:not(.browser-default), input[type=number].invalid:not(.browser-default):focus, input[type=search].invalid:not(.browser-default), input[type=search].invalid:not(.browser-default):focus, textarea.materialize-textarea.invalid, textarea.materialize-textarea.invalid:focus, .select-wrapper.invalid>input.select-dropdown, .select-wrapper.invalid>input.select-dropdown:focus {
  border-bottom: 1px solid #F44336 !important;
  box-shadow: 0 1px 0 0 #F44336 !important;
}
